<md-content id="admin_roles" layout="column">
    <div class="meta" layout="row" flex>
        <div flex id="roles">
            <md-toolbar class="md-padding">
                <md-toolbar-tools class="md-toolbar-tools">
                    <span>Roles</span>
                    <span flex></span>
                    <md-button ng-disabled="! checkPermission('role.create')" class="md-fab md-accent"
                               ng-click="createRole($event)" aria-label="Create Group">
                        <md-icon md-svg-src="img/icons/ic_add_48px.svg"></md-icon>
                    </md-button>
                </md-toolbar-tools>
            </md-toolbar>
            <md-card-content>
                <md-input-container>
                    <label>Filter</label>
                    <input type="text" ng-model="roleFilter">
                </md-input-container>
                <md-content>
                    <md-list>
                        <md-item ng-repeat="role in roles | filter: roleFilter">
                            <md-item-content>
                                <div class="role" class="md-tile-content md-padding">
                                    <a ui-sref="dashboard.rolePage({roleId: role.id})"><h4>{{role.name}}</h4></a>
                                    <span flex></span>
									<span class="description">
										{{role.description}}
									</span>
                                </div>
                            </md-item-content>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </div>
    </div>
</md-content>