<md-content id="group_page" layout="column">
    <div class="meta" layout="row" layout-sm="column" flex>
        <md-card flex flex>
            <md-toolbar>
                <md-toolbar-tools class="md-toolbar-tools">
                    <span>{{group.name}}</span>
                    <span flex></span>
					<span id="deleteGroup">
						<md-button ng-disabled="! checkPermission('group.edit')" aria-label="Delete Group"
                                   ng-click="deleteGroup($event)">
                            <md-icon md-svg-src="img/icons/ic_delete_48px.svg"></md-icon>
                        </md-button>
					</span>
                    <md-button ng-disabled="! checkPermission('group.edit')" ng-click="editGroup($event)"
                               aria-label="Edit Group">Edit
                    </md-button>
                </md-toolbar-tools>
            </md-toolbar>
            <md-card-content>
                <label for="">Description: </label>
                {{group.description}}
            </md-card-content>
        </md-card>
    </div>
    <div class="content" layout="row" flex>
        <md-card id="users" flex flex>
            <md-toolbar>
                <md-toolbar-tools class="md-toolbar-tools">
                    <span>Users</span>
                    <span flex></span>
                    <md-button class="md-fab md-accent" ng-click="addUser($event)" aria-label="Add users to the group">
                        <md-icon md-svg-src="img/icons/ic_add_48px.svg"></md-icon>
                    </md-button>
                </md-toolbar-tools>
            </md-toolbar>
            <md-card-content>
                <md-list>
                    <md-item ng-repeat="user in group.users">
                        <md-item-content class="groupUser">
                            <div class="md-tile-left">
                                <sj-user-avatar class="face" user="user"></sj-user-avatar>
                            </div>
                            <div class="md-tile-content md-padding">
                                <a ui-sref="dashboard.userPage({userId: user.id})"><h5>{{user.first_name}}
                                    {{user.last_name}}</h5></a>
                                <span flex></span>
                            </div>
                        </md-item-content>
                        <md-divider md-inset ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </md-card-content>
        </md-card>
        <!-- <md-card id="projects" flex flex>
            <md-toolbar>
                <md-toolbar-tools class="md-toolbar-tools">
                    <span>Projects</span>
                    <span flex></span>
                </md-toolbar-tools>
            </md-toolbar>
                <md-list>
                    <md-item ng-repeat="user in group.users">
                        <md-item-content class="groupUser">
                            <div class="md-tile-left">
                                <sj-user-avatar class="face" user="user"></sj-user-avatar>
                            </div>
                            <div class="md-tile-content md-padding">
                                <a href="#"><h5>{{user.first_name}} {{user.first_name}}</h5></a>
                                <span flex></span>
                            </div>
                        </md-item-content>
                        <md-divider md-inset ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </md-card-content>
        </md-card> -->
    </div>
</md-content>