<main id="dashboard">
    <md-toolbar class="md-whiteframe-z1">        
        <div id="toolbar-tools" class="md-toolbar-tools">
            <span id="title" flex>
                {{ pageTitle }}
            </span>
            <span id="profile">
                <sj-user-avatar user="loggedInUser"></sj-user-avatar>
            </span>
        </div>        
    </md-toolbar>        
    <div id="page" layout="row">    
        <md-sidenav id="sidebar" class="md-sidenav-left md-whiteframe-z1"
                md-component-id="left" md-is-locked-open="$media('gt-sm')" ng-include="'templates/sidebar.html'" flex="10">
        </md-sidenav>
        <div id="content" ui-view flex>

        </div>                
    </div>         
</main>