<md-content id="projects" layout="column">
	<div class="meta" layout="row" flex>
		<md-card id="user-projects" flex="33">
			<md-toolbar>
				<md-toolbar-tools class="md-toolbar-tools">
					<span>Projects</span>
					<span flex></span>
				</md-toolbar-tools>
			</md-toolbar>
			<md-card-content>
				<sj-projects-list user="loggedInUser"></sj-projects-list>
			</md-card-content>
		</md-card>
		<md-card flex>
			<md-toolbar>asdasd</md-toolbar>
			<md-card-content>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed necessitatibus, ipsum sint asperiores quisquam facilis, dolorum in odio accusantium iure dolor ad et ut cum! Atque, deleniti pariatur fuga corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugiat quos deserunt, repellendus laborum tempore, ex omnis debitis, labore consequuntur consectetur non illo perferendis! Laudantium fuga corporis recusandae voluptas dolores!				
			</md-card-content>
		</md-card>
	</div>
	<div class="content" layout="column" flex>
		<md-card>
			<md-toolbar>asdasd</md-toolbar>
			<md-card-content>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed necessitatibus, ipsum sint asperiores quisquam facilis, dolorum in odio placeat!
			</md-card-content>
		</md-card>
		<md-card>
			<md-toolbar>asdasd</md-toolbar>
			<md-card-content>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed necessitatibus, ipsum sint asperiores quisquam facilis, dolorum in odio accusantium iure dolor ad et ut cum! Atque, deleniti pariatur fuga corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugiat quos deserunt, repellendus laborum tempore, ex omnis debitis, labore consequuntur consectetur non illo perferendis! Laudantium fuga corporis recusandae voluptas dolores!
			</md-card-content>
		</md-card>
	</div>	
</md-content>