<md-content class="projects-page" layout="column">
	<div class="meta" layout="row" flex layout-sm="column">
		<md-card id="velocity" flex>
			<md-toolbar>
				<md-toolbar-tools class="md-toolbar-tools">
					<span>Project velocity</span>
					<span flex></span>
				</md-toolbar-tools>
			</md-toolbar>
			<md-card-content>				
				<div>
					<canvas id="bar" legend="true" options="chart.options" class="chart chart-bar" data="chart.chartData" labels="chart.labels" series="chart.series"></canvas> 
				</div>
			</md-card-content>
		</md-card>
		<div flex="20" layout="column" flex-sm="100">
			<md-card id="deadline" flex>
				<md-toolbar>
					<md-toolbar-tools class="md-toolbar-tools">
						<span>Deadline</span>
						<span flex></span>
					</md-toolbar-tools>
				</md-toolbar>
				<md-card-content>
					<i class="ion-android-alarm-clock"></i><br />
					<span>{{deadline}}</span>
				</md-card-content>
			</md-card>
			<md-card id="manager" flex>
				<md-toolbar>
					<md-toolbar-tools class="md-toolbar-tools">
						<span>Project Manager</span>
						<span flex></span>
						<md-button ng-click="editUsers($event)">Edit Users</md-button>
					</md-toolbar-tools>
				</md-toolbar>
				<md-card-content>						
					<img class="md-whiteframe-z1" title="{{project_manager.first_name}} {{project_manager.last_name}}" ng-src="img/avatars/{{project_manager.avatar}}" alt="avatar">
					<a ui-sref="dashboard.userPage({userId: project_manager.id})">{{project_manager.first_name}} {{project_manager.last_name}}</a>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="content" layout="row" flex layout-sm="column">
		<md-card id="sprint-status" flex>
			<md-toolbar>
				<md-toolbar-tools class="md-toolbar-tools">
					<span>Sprints</span>
					<span flex></span>
					<span><md-button ui-sref="dashboard.sprintPage({projectId: project.id})">Edit sprints & tasks</md-button></span>
				</md-toolbar-tools>
			</md-toolbar>
			<md-card-content ng-repeat="(sprintName, sprintValue) in sprints">
				{{sprintName}} :
				<md-progress-linear md-mode="determinate" value="{{sprintValue}}"></md-progress-linear>
				<br />
			</md-card-content>
		</md-card>
	</div>
</md-content>