<md-content class="sprints-page" layout="column">
	<div class="meta" layout="row" flex>
		<md-card id="velocity" flex>
			<md-toolbar>
				<md-toolbar-tools class="md-toolbar-tools">
					<span>Tasks</span>
					<span flex></span>
				</md-toolbar-tools>
			</md-toolbar>
			<md-card-content>

			</md-card-content>
		</md-card>
		<md-card id="deadline" flex>
			<md-toolbar>
				<md-toolbar-tools class="md-toolbar-tools">
					<span>Sprints</span>
					<span flex></span>
				</md-toolbar-tools>
			</md-toolbar>
			<md-card-content>

			</md-card-content>
		</md-card>
	</div>
	<div class="content" layout="row" flex>
		<!-- <md-card id="tasks" flex>
			<md-toolbar>
				<md-toolbar-tools class="md-toolbar-tools">
					<span>Tasks</span>
					<span flex></span>
				</md-toolbar-tools>
			</md-toolbar>

			<md-card-content>	
				<md-input-container>
  					<label>Filter</label>
  					<input type="text" ng-model="taskFilter">
				</md-input-container>
				<md-list>
					<md-item ng-repeat="task in project.tasks">
						<md-item-content>
							<div class="md-tile-content">
								<span layout="row">
									<h3>{{task.name}}</h3>
								</span>
							</div>
						</md-item-content>
					</md-item>
				</md-list>				
			</md-card-content>
		</md-card> -->		
	</div>
</md-content>