@include container(100%);

#dashboard {
	@include container(100%);
	md-toolbar {		
		#toolbar-tools {
			#title {
				
			}
			#profile {
				vertical-align: middle;
			}
		}
	}
	#page {
		#sidebar {			
			min-height: calc(100vh - 64px);
			#sideMenuItem {
				color: #111;
				text-transform: capitalize;				
			}			
		}
		#content {
			@import "projects.scss";
			@import "projects_page.scss";
			@import "sprint_page.scss";
		}
	}
	#ajaxLoad {	
		display: none;					
		bottom: 0;
		right: 0;
		position: absolute;		
	}
}