.login {
	@include span(12 of 12);
	main {		
		md-toolbar {
			h3 {
				color: white;
			}
		}
		form {
			width: 200px;
			height: auto;
			margin: 10% auto 0;
			* {
				@include clearfix;
			}
			label {
				float: left;
			}
		}
		#resend {
			text-align: center;			
		}
		#login-form {

		}
		#registration-form {

		}
	}

}