.projects-page {
	.meta {
		#velocity {
			md-toolbar {
				background-color: $md-cyan;
			}
		}
		#deadline {
			md-toolbar {
				background-color: $md-red;
			}
			md-card-content {
				color: grey;				
				text-align: center;
				md-icon {
					width: 10em;
					height: 10em;
				}
				span {
					font-size: 1em;
				}
			}
		}
		#project_completed {
			md-toolbar {
				background-color: $md-green;
			}
			md-card-content {				
				text-align: center;
				md-icon {
					width: 10em;
					height: 10em;
				}
			}
		}
		#manager {
			md-toolbar {
				background-color: $md-amber;
			}

			md-card-content {
				color: grey;				
				text-align: center;
				margin: 0 auto;				
			}
		}
	}

	.content {
		#sprint-status {
			md-toolbar {
				background-color: $md-blue-grey;
				a {
					&:hover, &:active {
						text-decoration: none;
						color: white;
					}
				}
			}
		}
	}
}