<div class="sj-projects-list">
	<md-list>
		<md-item ng-repeat="project in projects track by $index">
			<md-item-content>
				<div class="md-tile-content">
					<span layout="row">
						<h3><a ui-sref="dashboard.projectPage({projectSlug:project.slug})">{{project.name}}</a></h3>
						<span 
							class="project-owner hint--right" 
							ng-if="project.owner_type=='user' && project.owner_id==user.id"
							data-hint="Owner">
							<i class="ion-ios-snowy"></i>							
						</span>
					</span>

					<div class="tagsList">
						<span class="tag" ng-repeat="tag in project.tags">
							<a href="#">{{tag.name}}</a>
						</span>
					</div>
				</div>
			</md-item-content>
			<md-divider ng-if="!$last"></md-divider>
		</md-item>
	</md-list>
</div>